{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
  <h1 class="mt-5">Registros</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record[0] }}</td>
        <td>{{ record[1] }}</td>
        <td>{{ record[2] }}</td>
        <td>{{ record[3] }}</td>
        <td>
          <a href="{{ url_for('update', id=record[0]) }}" class="btn btn-primary">Editar</a>
          <a href="{{ url_for('delete', id=record[0]) }}" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
